.swiper-button-next,
.swiper-button-prev {
  color: white; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: gray;
}

button :hover{
  cursor: pointer;
}

a :hover{
  cursor: pointer;
}